@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: Barlow;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f3ed;
}

.content {
  flex: 1 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}

/*navbar*/

.nav {
  height: 75px;
  background-color: white;
  overflow: hidden;
  padding-left: 10%;
  padding-right: 10%;
}

.nav ul {
  float: right;
}

.nav li {
  display: inline;
  text-align: center;
  padding: 9px 12px;
  font-size: 14px;
}

.navLi {
  color: #3c3c3c;
  text-decoration: none;
}

.nav li button:hover {
  background-color: #ddd;
}

.nav li:not(:last-child):hover {
  background-color: #ddd;
  color: black;
}

.nav li.active {
  background-color: #4caf50;
  color: white;
}

.nav li button {
  padding: 10px;
  background-color: #f6f3ed;
  border-width: thin;
  border-color: #b1b1b1;
  border-radius: 3px;
  border-style: solid;
}

.logo {
  margin: 0.75%;
  margin-left: 0%;
  height: 80%;
}
/*footer*/
.foot {
  background-color: white;
  overflow: hidden;
  flex-shrink: 0;
  padding-left: 10%;
  padding-right: 10%;
}

.foot ul {
  float: right;
}

.foot li {
  display: inline;
  text-align: center;
  padding: 9px 12px;
  font-size: 12px;
}

.footLi {
  color: #575757;
  text-decoration: none;
}

/*index*/
.img-titel {
  width: 65vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  border-radius: 5px;
  
}

.textOnPhoto{
    position: relative;
    text-align: center;
    color: white;
}

.headingCenter {
  font-size: 3vw;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading2Center{
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pWrap{
  margin-left: 2%;
  margin-right: 2%;
  color: #2F2F2F;
}